.calculadora{
    width: 400px;
};

input{
    height: 100px;
    font-size: 2em;
    width:100%;
    text-align: right;
}



.btn{
    width:100%;
    height:50px;
    font-size: 1em;
    font-family:sans-serif;
    border: none;
    background-color: #dfdfdf;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(170, 169, 169);
}

.btn:active{
    background-color: rgb(170, 169, 169);
    box-shadow: 0px 0px 1px 1px;
}
.btn-eq{
    background-color: rgb(47, 47, 177);
    color: white;
    font-weight: 800 ;
}

.btn-eq:hover{
    background-color: rgb(4, 4, 83);
    color: white;
    font-weight: 800 ;
}
.btn-eq:active{
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: 800 ;
};

.container{
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

div{
    display:flex;
    justify-content: center;
    align-items: center;
}